# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/pao-dos-pobres-database?schema=public"
JWT_SECRET=secreto
AWS_REGION=us-east-2
MAIL_FROM="luiz.moraes@edu.pucrs.br"
MAIL_REPLY_TO="luiz.moraes@edu.pucrs.br"
S3_BUCKET=pdp-app-uploads
S3_URL="https://pdp-app-uploads.s3.us-east-2.amazonaws.com"
PORT=3000
QUEUE_ATTEMPTS=5
QUEUE_DELAY_BETWEEN_ATTEMPTS=10_000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=